out/
filesystem/
*.z64
*.json
*.sh
assets/*.blend1
tools/gltf-to-scn/gltf-to-scn
tools/gltf-to-scn/out/
tools/gltf-to-scn/*.sh
tools/gltf-to-scn/*.scn
tools/gltf-to-scn/*.json
tools/gltf-to-scn/.cache/
.cache/
